:root {
    background-color: rgb(3, 6, 29);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.header {
    flex-grow: 1;
    max-height: 10%;
}

.filters {
    flex-grow: 1;
    max-height: 30%;
}

.body {
    max-height: 70%;
}
